{% extends 'base.html.twig' %}

{% block title %}Hello DiscothequeController!{% endblock %}

{% block body %}

    <h1>Liste des Chansons</h1>
    {% for notice in app.flashes('notice') %}
        {{ notice }}
    {% endfor %}<br>
    <button class="button" role="button"><a href="{{ path('app_chanson_new') }}">Create new</a></button><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>DateSortie</th>
                <th>Genre</th>
                <th>Langue</th>
                <th>PhotoCouverture</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for chanson in chansons %}
            <tr>
                <td>{{ chanson.id }}</td>
                <td>{{ chanson.titre }}</td>
                <td>{{ chanson.dateSortie ? chanson.dateSortie|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{chanson.genre}}</td>
                <td>{{chanson.langue}}</td>
                <td><img src="{{ chanson.photoCouverture }}" alt="Image de la chanson" style="width:100px;height:auto;"></td>
                <td>
                    <button class="button" role="button"><a href="{{ path('app_chanson_show', {'id': chanson.id}) }}">show</a></button>
                    <button class="button" role="button"><a href="{{ path('app_chanson_edit', {'id': chanson.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <footer id="scrollToTop">Revenir en Haut</footer>
    <script src="../_assets/js/scriptToTop.js"></script>
{% endblock %}
