{{ form_start(form) }}

    <table class="tabledit">
        <tbody>
            <tr>
                <th>{{ form_label(form.title)}}</th>
                <td>{{ form_widget(form.title) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.content)}}</th>
                <td>{{ form_widget(form.content) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.imageUrl)}}</th>
                <td>{{ form_widget(form.imageUrl) }}
            </tr>
            <tr>
                <th>{{ form_label(form.createdAt)}}</th>
                <td>{{ form_widget(form.createdAt, {'attr': {'data-date-format': 'DD/MM/YYYY'}}) }}</td>
            <tr>
                <th>{{ form_label(form.updatedAt)}}</th>
                <td>{{ form_widget(form.updatedAt, {'attr': {'data-date-format': 'DD/MM/YYYY'}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.author)}}</th>
                <td>{{ form_widget(form.author)}}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.categories)}}</th>
                <td>{{ form_widget(form.categories)}}</td>
            </tr>
        </tbody>
    </table><br>

    <button class="button">{{ button_label|default('Save') }}</button><br>
{{ form_end(form) }}
