{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
    {% for notice in app.flashes('notice') %}
        {{ notice }}
    {% endfor %}<br>
    <button class="button" role="button"><a href="{{ path('app_article_new') }}">Create new</a></button><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>ImageUrl</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td><img src="{{ article.imageUrl }}" alt="Image de l'article" style="width:100px;height:auto;"></td>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <button class="button" role="button"><a href="{{ path('app_article_show', {'id': article.id}) }}">show</a></button>
                    <button class="button" role="button"><a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <footer id="scrollToTop">Revenir en Haut</footer>
    <script src="../_assets/js/scriptToTop.js"></script>
{% endblock %}
